<a href="https://colab.research.google.com/github/heewon330/TIL3/blob/master/codingtest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#코딩 테스트 연습

##기본 문제



###1. power() 함수 작성하기

n이 주어졌을 때, 2^n을 구하는 함수를 작성하세요
함수의 리턴값은 2^n한 결과 입니다.

In [ ]:
def power(n):
  return 2**n

power(9)

512

### 2. n ^ m 구하기
임의의 정수 n, m이 주어졌을 때
n ^ m 을 구하는 프로그램을 작성.
임의의 정수는 5 이하의 정수라고 가정합니다.

n ^ m = n(1) * n(2) * n(3) * ... * n(m)
2 ^ 3 = 2 * 2 * 2
5 ^ 4 = 5 * 5 * 5 * 5

In [ ]:
n=3
m=4
result=1
for i in range(1,m+1):
    result *= n

print(result)

81

### 3. 러시아농부의 곱셈
왼쪽에 있는 수는 2로 나눠주고, 나머지는 버린다. (1이 될때까지 반복)
오른쪽에 있는 수는 두배를 해준다.
왼쪽에 있는 수가 홀수인 오른쪽의 수들을 모두 더해준다.

123 x 12
61 x 24
30 x 48
15 x 96
7 x 192
3 x 384
1 x 768

In [ ]:
n=123
m=12
sum=0
while n>0:
  #print(n,'X',m)

  if n%2==1:
    sum+=m
  n=n//2
  m=m*2

print(sum)

1476

### 4.팩토리얼 구하기
정수 n이 주어졌을 때 n! 구하는 프로그램을 작성해봅니다.
- n! = 1 * 2 * 3 * ... * n
- 5! = 1 * 2 * 3 * 4 * 5

In [ ]:
n=5
result=1
for i in range(1,n+1):
  result *= i

print(result)

120

### 5. 유클리드 호제법
두 수의 최대공약수(GCD)를 구하는 과정

1. a, b가 주어졌을 때, b가 a보다 크면 b의 값을 a로, a의 값을 b로 지정한다.
2. a를 b로 나눈 나머지를 n으로 지정한다.
3. n이 0이면 b가 최대공약수이다. (종료)
4. n이 0이 아니라면, a의 값을 b로, b의 값을 n로 지정하고, 2번으로 돌아간다.

In [28]:
# 구글링
a=21
b=15
for i in range (a+1,1,-1):
  if (a%i==0) &(b%i==0):
    print(i)
    break

3

In [35]:
def gcd(a,b):
    if b > a:
        a, b = b, a
    n=a%b
    if n == 0:
        return b
    else:
        return gcd(b, n)
gcd(12,16)

4

### 6. 피보나치 수
리스트 이용