지역별 주택구입부담지수와 주택구입물량지수

출처 : 주택금융연구원 주택금융통계시스템

# 주택구입부담지수란?
- 주택구입부담지수 = 대출상환가능소득 / 중간가구소득(월) *100 = (원리금 상환액 / DTI) / 중간가구소득(월) * 100
 - 원리금상환액은 LTV 47.9%, DTI 25.7%, 만기 20년 원리금균등 상환대출의 매월 상환액
 - LTV : 주택담보가치 대비 대출이 가능한 금액. 쉽게 말하자면 시세 대비 몇 프로까지 주택담보대출을 받을 수 있는지 확인하는 것
 - DTI : 대출이용자의 연소득대비 대출 상환액. DTI 비율은 연간 소득을 연간 대출상환액으로 나눈 금액에 100을 곱해서 계산
- 중간소득가구가 표준대출을 받아 중간가격 주택을 구입하는 경우의 상환부담을 나타내는 지수로서, 지수가 낮을수록 주택구입부담이 완화됨을 의미
- 주택담보대출 상환으로 가구소득의 약25%를 부담하면 주택구입부담지수는 100으로 산출됨

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from matplotlib import font_manager, rcParams
!apt-get install fonts-nanum*
rcParams['font.family'] = 'NanumGothicCoding'
rcParams['axes.unicode_minus'] = False
font_manager._rebuild()

Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'fonts-nanum-eco' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-gothic-light' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-coding' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-extra' for glob 'fonts-nanum*'
fonts-nanum is already the newest version (20170925-1).
fonts-nanum-coding is already the newest version (2.5-1).
fonts-nanum-eco is already the newest version (1.000-6).
fonts-nanum-extra is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.

In [ ]:
rawData1 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/황희원/데이터/지역별_주택구입부담지수.csv')
rawData1

                                                   No     자료시점  ...    경남    제주
0                                                  No     자료시점  ...   원자료   원자료
1                                                   1  2011/1Q  ...  50.3  40.8
2                                                   2  2011/2Q  ...    53  43.7
3                                                   3  2011/3Q  ...  52.5    44
4                                                   4  2011/4Q  ...  54.5  46.8
5                                                   5  2012/1Q  ...  50.7  47.2
6                                                   6  2012/2Q  ...  52.7    49
7                                                   7  2012/3Q  ...  48.7  46.9
8                                                   8  2012/4Q  ...  48.1  50.7
9                                                   9  2013/1Q  ...  44.8  45.1
10                                                 10  2013/2Q  ...  43.9  45.8
11                                                 11  2013/3Q  ...  43.9  44.4
12                                                 12  2013/4Q  ...    44  44.5
13                                                 13  2014/1Q  ...  42.1  43.4
14                                                 14  2014/2Q  ...    45  44.2
15                                                 15  2014/3Q  ...  44.4  43.6
16                                                 16  2014/4Q  ...  46.2  45.5
17                                                 17  2015/1Q  ...  42.7  43.1
18                                                 18  2015/2Q  ...  45.6  48.2
19                                                 19  2015/3Q  ...  45.2  49.9
20                                                 20  2015/4Q  ...  46.4  65.3
21                                                 21  2016/1Q  ...  48.7  69.2
22                                                 22  2016/2Q  ...  46.9  70.6
23                                                 23  2016/3Q  ...    47  73.6
24                                                 24  2016/4Q  ...  48.4  78.9
25                                                 25  2017/1Q  ...  47.8  85.1
26                                                 26  2017/2Q  ...  47.9  87.7
27                                                 27  2017/3Q  ...  47.2  87.6
28                                                 28  2017/4Q  ...  46.4  82.6
29                                                 29  2018/1Q  ...  44.6  84.1
30                                                 30  2018/2Q  ...  42.8  84.5
31                                                 31  2018/3Q  ...  41.7  88.1
32                                                 32  2018/4Q  ...  40.6  87.7
33                                                 33  2019/1Q  ...  38.5  82.7
34                                                 34  2019/2Q  ...  36.4  75.4
35                                                 35  2019/3Q  ...  35.6  71.8
36                                                 36  2019/4Q  ...  34.9  70.3
37                                                 37  2020/1Q  ...  33.3  66.6
38                                                 38  2020/2Q  ...  34.2  64.5
39                                                 39  2020/3Q  ...  33.5  64.4
40                                                 40  2020/4Q  ...  35.2  67.3
41                                                 41  2021/1Q  ...  37.6  69.2
42                                                 42  2021/2Q  ...  38.1  66.8
43                                                 43  2021/3Q  ...  39.2  66.8
44      1) 주택구입부담지수(K-HAI) = 대출상환가능소득 / 중간가구소득(월) ...      NaN  ...   NaN   NaN
45      통계기호 : 【e】추정치 | 【p】잠정치 | 【r】정정치 | 【···】미상자...      NaN  ...   NaN   NaN

[46 rows x 20 columns]

In [ ]:
rawData1=rawData1.drop(index=[0, 44, 45])
rawData1

    No     자료시점    전국     서울    부산    대구  ...    충남    전북    전남    경북    경남    제주
1    1  2011/1Q  63.9    127  65.2  49.5  ...  38.1  37.4    27  28.3  50.3  40.8
2    2  2011/2Q  66.6    123  65.1  53.5  ...    39  37.8  28.4    29    53  43.7
3    3  2011/3Q  65.7  117.8  65.2  53.9  ...  39.4  38.4  28.9  28.7  52.5    44
4    4  2011/4Q  66.9  119.4  67.3  56.4  ...  41.9  41.2  31.8  31.3  54.5  46.8
5    5  2012/1Q  62.3  110.8  62.6  53.7  ...  40.2    40  30.3  30.2  50.7  47.2
6    6  2012/2Q  65.3  114.1  65.1  57.5  ...  43.1  41.2  31.2  32.7  52.7    49
7    7  2012/3Q  59.4  104.8  60.4    54  ...  40.8  38.3  28.6  30.9  48.7  46.9
8    8  2012/4Q  59.9  104.3  60.1  55.3  ...  41.8  38.2  28.9    32  48.1  50.7
9    9  2013/1Q  53.7   94.8  53.8  50.4  ...  36.9  35.8  27.5  30.1  44.8  45.1
10  10  2013/2Q  54.3   94.6  54.3  53.4  ...  36.8  34.2  27.4  31.4  43.9  45.8
11  11  2013/3Q  52.3   90.4    54  54.9  ...    36  34.2  26.3  31.5  43.9  44.4
12  12  2013/4Q  53.8   90.1  54.1  58.5  ...  38.1  34.3  26.4  33.6    44  44.5
13  13  2014/1Q  51.5   86.8  52.5  58.6  ...  37.1  32.9  25.2  32.8  42.1  43.4
14  14  2014/2Q  54.6   89.9  55.8    63  ...  39.1    34  25.5  35.4    45  44.2
15  15  2014/3Q  52.3   88.5  55.3  63.2  ...  38.1  32.7  24.5  34.3  44.4  43.6
16  16  2014/4Q  54.3   91.9  57.5  67.1  ...  39.8  33.5  25.2  35.8  46.2  45.5
17  17  2015/1Q  50.3   83.7    53  62.8  ...  36.2  30.5  23.5  32.6  42.7  43.1
18  18  2015/2Q  55.3   91.5  57.2  70.4  ...  38.7  32.6  25.1  35.5  45.6  48.2
19  19  2015/3Q  54.5   90.4  57.3  72.2  ...  37.1  31.8  24.4  34.2  45.2  49.9
20  20  2015/4Q  56.4   93.7  60.6  73.9  ...  37.5  32.7  25.5  34.7  46.4  65.3
21  21  2016/1Q  56.5   95.2  61.9  71.4  ...  38.2  33.5  26.6  35.4  48.7  69.2
22  22  2016/2Q  55.3   94.1  60.5  70.5  ...  36.7  32.3    26  34.4  46.9  70.6
23  23  2016/3Q    56   96.8  62.5  69.2  ...  36.9  32.6  26.6  33.9    47  73.6
24  24  2016/4Q  58.9  102.4  68.4  70.6  ...  37.9  33.9    28  33.6  48.4  78.9
25  25  2017/1Q  59.3  103.6  70.8    72  ...  37.2  34.4  28.4  33.3  47.8  85.1
26  26  2017/2Q  60.1  107.2    73  72.2  ...  36.8  35.4  29.6  33.1  47.9  87.7
27  27  2017/3Q  60.1  110.3    73  72.9  ...  36.7  36.3  30.3  32.5  47.2  87.6
28  28  2017/4Q  61.3  116.7  73.5    72  ...  38.1  36.5  31.3  33.3  46.4  82.6
29  29  2018/1Q  60.1  118.8  71.4  72.3  ...  37.1  36.2  31.3  32.7  44.6  84.1
30  30  2018/2Q  59.3  122.7  69.9  71.8  ...  36.4  35.7  31.4  31.7  42.8  84.5
31  31  2018/3Q  57.5  130.3  65.8  69.1  ...  36.4  33.6  30.5  29.7  41.7  88.1
32  32  2018/4Q  56.6  133.3  63.6  68.7  ...  35.9  33.4  30.9    29  40.6  87.7
33  33  2019/1Q  54.6  129.9  61.3  66.3  ...  34.6  31.3  30.2  27.8  38.5  82.7
34  34  2019/2Q  52.4  124.6  58.3  63.6  ...  33.2  29.4  28.7  26.6  36.4  75.4
35  35  2019/3Q  51.1  123.6  57.2  61.3  ...  32.7  29.2  28.2  26.3  35.6  71.8
36  36  2019/4Q  50.5  126.6  56.4  60.3  ...    32  28.7  27.9  25.6  34.9  70.3
37  37  2020/1Q  49.7  132.2  53.9  58.7  ...    31  27.2  26.7  24.3  33.3  66.6
38  38  2020/2Q  52.1  142.8  55.5  59.9  ...  31.5  27.4  26.7  24.4  34.2  64.5
39  39  2020/3Q  52.3  144.5  54.2  60.3  ...  31.2  27.2  26.8  24.3  33.5  64.4
40  40  2020/4Q  57.4  153.4  61.3  64.1  ...  32.4  27.4  27.5  25.5  35.2  67.3
41  41  2021/1Q  63.6  166.2  66.1  70.2  ...  34.2  28.8  28.8  26.7  37.6  69.2
42  42  2021/2Q  68.3  172.9  68.6  72.3  ...  35.6  29.7  29.2  27.2  38.1  66.8
43  43  2021/3Q  73.5    182  71.2  73.4  ...  37.4  31.4  30.1  28.7  39.2  66.8

[43 rows x 20 columns]

In [ ]:
rawData1=rawData1.drop(columns=['No'])
rawData1

       자료시점    전국     서울    부산    대구    인천  ...    충남    전북    전남    경북    경남    제주
1   2011/1Q  63.9    127  65.2  49.5  70.7  ...  38.1  37.4    27  28.3  50.3  40.8
2   2011/2Q  66.6    123  65.1  53.5    70  ...    39  37.8  28.4    29    53  43.7
3   2011/3Q  65.7  117.8  65.2  53.9  66.9  ...  39.4  38.4  28.9  28.7  52.5    44
4   2011/4Q  66.9  119.4  67.3  56.4  67.4  ...  41.9  41.2  31.8  31.3  54.5  46.8
5   2012/1Q  62.3  110.8  62.6  53.7  62.7  ...  40.2    40  30.3  30.2  50.7  47.2
6   2012/2Q  65.3  114.1  65.1  57.5  64.8  ...  43.1  41.2  31.2  32.7  52.7    49
7   2012/3Q  59.4  104.8  60.4    54  59.1  ...  40.8  38.3  28.6  30.9  48.7  46.9
8   2012/4Q  59.9  104.3  60.1  55.3  59.6  ...  41.8  38.2  28.9    32  48.1  50.7
9   2013/1Q  53.7   94.8  53.8  50.4  51.9  ...  36.9  35.8  27.5  30.1  44.8  45.1
10  2013/2Q  54.3   94.6  54.3  53.4  52.4  ...  36.8  34.2  27.4  31.4  43.9  45.8
11  2013/3Q  52.3   90.4    54  54.9  50.8  ...    36  34.2  26.3  31.5  43.9  44.4
12  2013/4Q  53.8   90.1  54.1  58.5  51.6  ...  38.1  34.3  26.4  33.6    44  44.5
13  2014/1Q  51.5   86.8  52.5  58.6  50.1  ...  37.1  32.9  25.2  32.8  42.1  43.4
14  2014/2Q  54.6   89.9  55.8    63  53.2  ...  39.1    34  25.5  35.4    45  44.2
15  2014/3Q  52.3   88.5  55.3  63.2  51.7  ...  38.1  32.7  24.5  34.3  44.4  43.6
16  2014/4Q  54.3   91.9  57.5  67.1  53.7  ...  39.8  33.5  25.2  35.8  46.2  45.5
17  2015/1Q  50.3   83.7    53  62.8  50.2  ...  36.2  30.5  23.5  32.6  42.7  43.1
18  2015/2Q  55.3   91.5  57.2  70.4  55.5  ...  38.7  32.6  25.1  35.5  45.6  48.2
19  2015/3Q  54.5   90.4  57.3  72.2  54.9  ...  37.1  31.8  24.4  34.2  45.2  49.9
20  2015/4Q  56.4   93.7  60.6  73.9  58.2  ...  37.5  32.7  25.5  34.7  46.4  65.3
21  2016/1Q  56.5   95.2  61.9  71.4  57.7  ...  38.2  33.5  26.6  35.4  48.7  69.2
22  2016/2Q  55.3   94.1  60.5  70.5    57  ...  36.7  32.3    26  34.4  46.9  70.6
23  2016/3Q    56   96.8  62.5  69.2  57.7  ...  36.9  32.6  26.6  33.9    47  73.6
24  2016/4Q  58.9  102.4  68.4  70.6  61.3  ...  37.9  33.9    28  33.6  48.4  78.9
25  2017/1Q  59.3  103.6  70.8    72    62  ...  37.2  34.4  28.4  33.3  47.8  85.1
26  2017/2Q  60.1  107.2    73  72.2  61.6  ...  36.8  35.4  29.6  33.1  47.9  87.7
27  2017/3Q  60.1  110.3    73  72.9  62.8  ...  36.7  36.3  30.3  32.5  47.2  87.6
28  2017/4Q  61.3  116.7  73.5    72  65.1  ...  38.1  36.5  31.3  33.3  46.4  82.6
29  2018/1Q  60.1  118.8  71.4  72.3  65.1  ...  37.1  36.2  31.3  32.7  44.6  84.1
30  2018/2Q  59.3  122.7  69.9  71.8  64.3  ...  36.4  35.7  31.4  31.7  42.8  84.5
31  2018/3Q  57.5  130.3  65.8  69.1  62.8  ...  36.4  33.6  30.5  29.7  41.7  88.1
32  2018/4Q  56.6  133.3  63.6  68.7  61.3  ...  35.9  33.4  30.9    29  40.6  87.7
33  2019/1Q  54.6  129.9  61.3  66.3  59.7  ...  34.6  31.3  30.2  27.8  38.5  82.7
34  2019/2Q  52.4  124.6  58.3  63.6  57.3  ...  33.2  29.4  28.7  26.6  36.4  75.4
35  2019/3Q  51.1  123.6  57.2  61.3  56.7  ...  32.7  29.2  28.2  26.3  35.6  71.8
36  2019/4Q  50.5  126.6  56.4  60.3  55.4  ...    32  28.7  27.9  25.6  34.9  70.3
37  2020/1Q  49.7  132.2  53.9  58.7  54.2  ...    31  27.2  26.7  24.3  33.3  66.6
38  2020/2Q  52.1  142.8  55.5  59.9  57.3  ...  31.5  27.4  26.7  24.4  34.2  64.5
39  2020/3Q  52.3  144.5  54.2  60.3  56.9  ...  31.2  27.2  26.8  24.3  33.5  64.4
40  2020/4Q  57.4  153.4  61.3  64.1  58.9  ...  32.4  27.4  27.5  25.5  35.2  67.3
41  2021/1Q  63.6  166.2  66.1  70.2  63.1  ...  34.2  28.8  28.8  26.7  37.6  69.2
42  2021/2Q  68.3  172.9  68.6  72.3  72.2  ...  35.6  29.7  29.2  27.2  38.1  66.8
43  2021/3Q  73.5    182  71.2  73.4  80.5  ...  37.4  31.4  30.1  28.7  39.2  66.8

[43 rows x 19 columns]

In [ ]:
rawData1.to_csv('/content/drive/MyDrive/멀티캠퍼스/황희원/데이터/주택구입부담지수.csv', index=False)

# 주택구입물량지수
- 주택구입물량지수 = 중위소득 가구가 구입가능한 주택물량 / 전체 주택물량 *100
- 중위가구가 구입 가능한 주택수의 비율(0~100)로 주택구입능력을 측정하는 지수로서, 수치가 높을수록 중위소득 가구 구입 가능한 주택물량이 많다는 의미로, 100은 중위소득 가구가 주택을 100% 구입 가능함을 의미

In [ ]:
rawData2 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/황희원/데이터/지역별_주택구입물량지수.csv')
rawData2

                                                   No  자료시점  ...    경남    제주
0                                                  No  자료시점  ...   원자료   원자료
1                                                   1  2012  ...  81.8  67.5
2                                                   2  2013  ...  81.1  68.4
3                                                   3  2014  ...  78.7  69.4
4                                                   4  2015  ...  79.5  51.2
5                                                   5  2016  ...  79.5  43.7
6                                                   6  2017  ...  82.8  43.7
7                                                   7  2018  ...  87.3  46.7
8                                                   8  2019  ...  91.2  55.3
9                                                   9  2020  ...  85.8  57.6
10  1)    1) 주택구입물량지수(K-HOI) = 중위소득 가구가 구입가능한 주택물량...   NaN  ...   NaN   NaN
11      통계기호 : 【e】추정치 | 【p】잠정치 | 【r】정정치 | 【···】미상자...   NaN  ...   NaN   NaN

[12 rows x 20 columns]

In [ ]:
rawData2=rawData2.drop(index=[0, 10, 11])
rawData2=rawData2.drop(columns=['No'])
rawData2

   자료시점    전국    서울    부산    대구    인천  ...    충남    전북    전남    경북    경남    제주
1  2012  64.8  32.5  63.4  73.8    72  ...  86.4  86.5  95.4  93.2  81.8  67.5
2  2013  63.3  27.4  62.1  61.5  72.7  ...  87.5  86.2  95.8  90.1  81.1  68.4
3  2014  62.5  26.4    59  53.2  69.4  ...  87.9  87.1  96.5    88  78.7  69.4
4  2015  61.7  23.8  56.8  49.6  62.3  ...  91.8  86.3  95.5  86.9  79.5  51.2
5  2016  60.4  20.2  48.3  55.3  57.8  ...  91.7  84.7  93.4  92.1  79.5  43.7
6  2017  58.7  16.5  48.7  53.8  52.9  ...  92.3  84.8  88.2  92.3  82.8  43.7
7  2018  62.4  12.8  56.6  56.9  59.8  ...  92.7  87.8  89.7  94.8  87.3  46.7
8  2019  65.6  13.6  66.1  63.6  65.2  ...  92.6  90.4  93.1  96.4  91.2  55.3
9  2020  56.9   6.2  57.3  57.9  60.4  ...    89  88.9  90.2  94.6  85.8  57.6

[9 rows x 19 columns]

In [ ]:
rawData2.to_csv('/content/drive/MyDrive/멀티캠퍼스/황희원/데이터/주택구입물량지수.csv', index=False)